@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.wrapper {
    max-width: 80%;
    margin: auto;
    background-color: white;
}

.navBar {
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
}

.navBar a {
    text-decoration: none;
    color: black;
}

.navBarContact {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}

.navBarContact ul li {
    float: right;
    text-decoration: none;
    display: block;
    padding-top: 25px;
}

.navBarContact a {
    text-decoration: none;
    color: black;
}

.navButtonContact {
    padding: 23px 20px 28px 20px;
    cursor: pointer;
}

.navButtonContact:hover {
    background-color: #bebebe;
}

.workChoiceNav a {
    text-decoration: none;
    color: #ffffff;
}

.navBar ul li {
    float: right;
    text-decoration: none;
    display: block;
    padding-top: 25px;
}

.navButton {
    padding: 23px 20px 28px 20px;
    cursor: pointer;
}

.navButton:hover {
    background-color: #bebebe;
}

.rowWhite {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 60px 0 60px 0;
    background-image: url(../assets/blueArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rowBlue {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #00bbb4;
    padding: 60px 0 60px 0;
    background-image: url(../assets/whiteArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rowWhiteChange {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #00bbb4;
    padding: 60px 0 60px 0;
    background-image: url(../assets/whiteArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.workChoiceNav {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #00bbb4;
    margin-top: 70px;
}

.centerUl {
    display: inline-table;
    padding-top: 20px;
}

.centerLi {
    display: inline;
    padding-bottom: 20px;
}

.workChoiceButton {
    padding: 18px 10px 13px 10px;
    margin-right: 40px;
    cursor: pointer;
}

.workChoiceButton:hover {
    background-color: #02b0a9;
}

img {
    display: none;
}

.showMotionVideo,
.uxUI,
.graphicDesign,
.coding,
.cadDesign {
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}

.textBox {
    display: inline-block;
    width: 405.938px;
    height: 262px;
    border: 5px solid #02b0a9;
    padding: 0 30px 0 30px;
    overflow: auto;
    background-color: #00a19a;
    border-radius: 10px;
}

.videoSmallText {
    display: inline-block;
    width: 373.328px;
    height: 262px;
    border: 5px solid #02b0a9;
    padding: 0 30px 0 30px;
    overflow: auto;
    background-color: #00a19a;
    border-radius: 10px;
}

.textBox::-webkit-scrollbar {
    display: none;
}

.textBox p {
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

.pAlignRight {
    margin-top: 0px;
    width: 350px;
    height: auto;
    float: right;
    text-align: justify;
}

.pAlignLeft {
    margin-top: 0px;
    width: 350px;
    height: auto;
    float: left;
    text-align: justify;
}

.videoPaddingRight {
    padding-right: 40px;
}

.videoPaddingLeft {
    padding-left: 40px;
}

.video {
    height: 260px;
    border-radius: 10px;
    border: 5px solid #02b0a9;
}

.homeHeader {
    margin-top: 70px;
    width: 100%;
    height: 1010px;
    background-image: url(../assets/homeHeader-01.jpg);
    background-repeat: no-repeat;
    background-color: #00bbb4;
}

.aboutText {
    float: right;
    margin: 80px 8% 0 0;
    width: 44%;
    height: auto;
    text-align: justify;
}


.boxEdge {
    width: 330px;
    height: 240px;
    border: 10px solid #ffffff;
}

.boxEdge p {
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 55px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    ;
    color: #ffffff;
}

.quoteBox {
    padding-bottom: 100px;
    padding-top: 20px;
    font-size: 22px;
}

.quote {
    color: #ffffff;
    font-style: italic;
    float: left;
    width: 350px;
}

.subText {
    font-size: 22px;
    color: #ffffff;

}

.boxEdgeButtons {
    width: 330px;
    height: 70px;
    border: 10px solid #ffffff;
    font-size: 55px;
    color: #ffffff;
    font-weight: bold;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.boxEdgeButtons:hover {
    border-style: dashed;
    cursor: pointer;
    border-color: purple;
}

.boxEdgeButtons p {
    padding-top: 7px;
    text-align: center;
}

.wizard:hover {
    color: purple;
    cursor: none;
}

.flex-container-form {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #00bbb4;
    width: 100%;
    height: 73.5vh;
    flex-direction: row;
}

.flex-container-form form {
    width: 500px;
    height: auto;
}

.flex-container-form form label {
    width: auto;
    height: 20px;
    color: #ffffff;
    font-size: 20px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 5px solid #02b0a9;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;
}

.contactDetails {
    margin-left: 20px;
    border: 5px solid #02b0a9;
    width: 460px;
    height: 300px;
    padding: 25px 20px;
    border-radius: 10px;
    background-color:#ffffff;
}

.contactDetails h2:first-of-type {
    padding-bottom: 20px;
}

@media only screen and (max-width:1573px) {
    .aboutText {
        width: 30%;
    }
}

@media only screen and (max-width:1000px) {
    .aboutText {
        padding-top: 0;
        width: 350px;
        margin: 0 0 0 0;
        float: none;
    }

    .boxEdge {
        background-color: rgba(225, 225, 225, .9);
    }

    body {
        height: 100%;
        background-color: #00bbb4;
    }

    .homeHeader {
        background-size: contain;
        background-position: center bottom;
        position: fixed;
        bottom: 0;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
