/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/*==============================================================RESET CODE ABOVE==============================================================*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.wrapper {
    max-width: 80%;
    margin: auto;
    background-color: white;
}

.navBar {
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
}

.navBar a,
.workChoiceNav a {
    text-decoration: none;
    color: black;
}

.navBar ul li {
    float: right;
    text-decoration: none;
    display: block;
    padding-top: 25px;
}

.navButton {
    padding: 23px 20px 28px 20px;
    cursor: pointer;
}

.navButton:hover {
    background-color: #bebebe;
}

.row {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 60px 0 60px 0;
    background-image: url(../assets/blueArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rowTwo {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #00bbb4;
    padding: 60px 0 60px 0;
    background-image: url(../assets/whiteArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.workChoiceNav {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #00bbb4;
    padding-top: 70px;
}

.centerUl {
    display: inline-table;
    padding-top: 20px;
}

.centerLi {
    display: inline;
}

.workChoiceButton {
    padding: 18px 10px 13px 10px;
    margin-right: 40px;
    cursor: pointer;
}

.workChoiceButton:hover {
    background-color: #02b0a9;
}

img {
    display: none;
}

.showMotionVideo {
    display: inline-block;
}

.uxUI {
    display: inline-block;
}

.graphicDesign {
    display: inline-block;
}

.coding {
    display: inline-block;
}

.cadDesign {
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}

.textBox {
    display: inline-block;
    width: 350px;
    height: 257px;
    border-top: 2px solid #02b0a9;
    border-bottom: 2px solid #02b0a9;
    overflow: auto;
    /*-moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.2);*/
}

.textBox::-webkit-scrollbar {
    display: none;
}

.textBox p {
    text-align: justify;
    padding-top:5px;
}

.pAlignRight {
    margin-top: 0px;
    width: 350px;
    height: auto;
    float: right;
    text-align: justify;
}

.pAlignLeft {
    margin-top: 0px;
    width: 350px;
    height: auto;
    float: left;
    text-align: justify;
}

.videoPaddingRight {
    padding-right: 40px;
}

.videoPaddingLeft {
    padding-left: 40px;
}

.video {
    width: 432px;
    height: 260px;
}

.homeHeader {
    margin-top: 70px;
    width: 100%;
    height: 1010px;
    background-image: url(../assets/homeHeader-01.jpg);
    background-repeat: no-repeat;
    background-color: #00bbb4;
}

.aboutText {
    float: right;
    margin: 80px 8% 0 0;
    width: 44%;
    height: auto;
    text-align: justify;
}


.boxEdge {
    width: 330px;
    height: 240px;
    border: 10px solid #ffffff;
}

.boxEdge p {
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 55px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    ;
    color: #ffffff;
}

.quoteBox {
    padding-bottom: 100px;
    padding-top: 20px;
    font-size: 22px;
}

.quote {
    color: #ffffff;
    font-style: italic;
    float: left;
    width: 350px;
}

.subText {
    font-size: 22px;
    color: #ffffff;

}

.boxEdgeButtons {
    width: 330px;
    height: 70px;
    border: 10px solid #ffffff;
    font-size: 55px;
    color: #ffffff;
    font-weight: bold;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.boxEdgeButtons:hover {
    border-style: dashed;
    cursor: pointer;
    border-color: purple;
}

.boxEdgeButtons p {
    padding-top: 7px;
    text-align: center;
}

.wizard:hover {
    color: purple;
    cursor: none;
}

@media only screen and (max-width:1573px) {
    .aboutText {
        width: 30%;
    }
}

@media only screen and (max-width:1000px) {
    .aboutText {
        padding-top: 0;
        width: 350px;
        margin: 0 0 0 0;
        float: none;
    }

    .boxEdge {
        background-color: rgba(225, 225, 225, .9);
    }

    body {
        height: 100%;
        background-color: #00bbb4;
    }

    .homeHeader {
        background-size: contain;
        background-position: center bottom;
        position: fixed;
        bottom: 0;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navBar {
        display: none;
    }
}
